.art {
    width: 100%;
    height: auto;

    &__nuevos {
        width: 90%;
        height: auto;
        background-color: #484553;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 3rem;
        padding: 1.5rem;
    }

    &__novedad {
        padding: 25px;
    }
}